.errorContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.errorTitle {
  font-size: 30px;
  color: var(--orange);
}

.errorBtn {
  background: transparent;
  border: 2px solid var(--orange);
  color: var(--orange);
  font-size: 20px;
  font-weight: 600;
}